docker_login: &DockerLogin |
  docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD

version: 2
jobs:
  build:
    steps:
      - checkout
      - run: docker build . -t eventology/alpine-static:latest
      - run: &DockerLogin
      - run: docker push eventology/alpine-static:latest
workflows:
  version: 2
  build:
    jobs:
      - build:
          context: org-global
          filters:
            branches:
              only: master
